<div class=" d-flex flex-column align-items-center justify-content-between">

  <form [formGroup]="purchaseForm">

    <div class="first w-100 p-3 my-1">

      <div class="row">

        <div class="col">
          <label for="clientName">Client Name</label>
          <select formControlName="clientName" class="form-control" id="clientName" required>
            <option *ngFor="let client of clients" [value]="client">{{client}}</option>
          </select>
        </div>

        <div class="col">
          <label for="purchaseOrderType">Purchase Order Type</label>
          <select formControlName="purchaseOrderType" class="form-control" id="purchaseOrderType" required>
            <option *ngFor="let poType of poTypes" [value]="poType">{{poType}}</option>
          </select>
        </div>

        <div class="col">
          <label for="purchaseOrderNo">Purchase Order No.</label>
          <input formControlName="purchaseOrderNo" type="text" class="form-control" id="purchaseOrderNo"
            placeholder="PO Number" required>
        </div>

        <div class="col">
          <label for="receivedOn">Received On</label>
          <input formControlName="receivedOn" type="date" class="form-control" id="receivedOn" required>
        </div>

      </div>

      <div class="row mt-3">

        <div class="col">
          <label for="receivedFromName">Received From</label>
          <input formControlName="name" type="text" class="form-control" id="receivedFromName"
            placeholder="Received From Name" required>
        </div>

        <div class="col">
          <label for="receivedFromEmailId"></label>
          <input formControlName="emailId" type="email" class="form-control" id="receivedFromEmailId"
            placeholder="Received From Email" required>
        </div>

        <div class="col">
          <label for="poStartDate">PO Start Date</label>
          <input formControlName="poStartDate" type="date" class="form-control" id="poStartDate" required>
        </div>

        <div class="col">
          <label for="poEndDate">PO End Date</label>
          <input formControlName="poEndDate" type="date" class="form-control" id="poEndDate" required>
        </div>

        <div class="col">
          <label for="budget">Budget</label>
          <input formControlName="budget" type="number" class="form-control" id="budget" placeholder="Budget" required>
        </div>

        <div class="col">
          <label for="currency">Currency</label>
          <select formControlName="currency" class="form-control" id="currency" required>
            <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
          </select>
        </div>

      </div>

    </div>

    <div class="second w-100 p-3 my-1">

      <div class="row">

        <div class="col d-flex align-items-center">
          <h2>Talent details</h2>
        </div>

        <div class="col d-flex justify-content-end align-items-center">
          <button class="btn btn_style" (click)="addTalentDetails()">+ Add Another</button>
        </div>

      </div>

    </div>

    <div class="third w-100 p-3 my-1">
      <div formArrayName="talentDetails"
        *ngFor="let creds of purchaseForm.controls['talentDetails']?.value; let i = index">
        <ng-container [formGroupName]="i">

          <div class="row">

            <div class="col-3">
              <label for="jobTitleName">Job Title / REQ Name</label>
              <select formControlName="jobTitle" class="form-control" id="jobTitleName" required>
                <option *ngFor="let jobT of jobTitleData" [value]="jobT">{{jobT}}</option>
              </select>
            </div>

            <div class="col-3">
              <label for="jobReqId">Job ID / REQ ID</label>
              <input formControlName="jobID" type="text" class="form-control" id="jobReqId" readonly>
            </div>

            <div class="col-6 d-flex align-items-center justify-content-end">
              <label for="plusbutton"></label>
              <button class="btn" id="plusbutton" (click)="moreData(i)">
                <h1>{{ expandedIndex === i ? '-' : '+' }}</h1>
              </button>
            </div>

          </div>

          <div *ngIf="expandedIndex === i">

            <div class="row">

              <div class="col">
                <h5><input type="checkbox" formControlName="name1" required> Monika Goyal Test </h5>
              </div>

            </div>

            <div class="row">

              <div class="col">
                <label for="contract1">Contract Duration</label>
                <input formControlName="contractDuration1" type="text" class="form-control"
                  placeholder="Contract Duration" id="contract1">
              </div>

              <div class="col">
                <label for="bill1">Bill Rate</label>
                <input formControlName="billRate1" type="text" class="form-control" placeholder="Bill Rate" id="bill1">
              </div>

              <div class="col">
                <label for="brcurrancy1">Currency</label>
                <select formControlName="billRateCurrancy1" class="form-control" id="brcurrancy1">
                  <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
                </select>
              </div>

              <div class="col">
                <label for="standard1">Standard Time BR</label>
                <input formControlName="standardTime1" type="text" class="form-control" placeholder="Std. Time BR"
                  id="standard1">
              </div>

              <div class="col">
                <label for="stcurrancy1">Currency</label>
                <select formControlName="standardTimeCurrancy1" class="form-control" id="stcurrancy1">
                  <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
                </select>
              </div>

              <div class="col">
                <label for="over1">Over Time BR</label>
                <input formControlName="overTime1" type="text" class="form-control" placeholder="Over Time BR"
                  id="over1">
              </div>

              <div class="col">
                <label for="otcurrancy1">Currency</label>
                <select formControlName="overTimeCurrancy1" class="form-control" id="otcurrancy1">
                  <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
                </select>
              </div>

            </div>

            <div class="row">

              <div class="col">
                <h5><input type="checkbox" formControlName="name2" required> Shaili Khatri </h5>
              </div>

            </div>

            <div class="row">

              <div class="col">
                <label for="contract2">Contract Duration</label>
                <input formControlName="contractDuration2" type="text" class="form-control"
                  placeholder="Contract Duration" id="contract2">
              </div>

              <div class="col">
                <label for="bill2">Bill Rate</label>
                <input formControlName="billRate2" type="text" class="form-control" placeholder="Bill Rate" id="bill2">
              </div>

              <div class="col">
                <label for="brcurrancy2">Currency</label>
                <select formControlName="billRateCurrancy2" class="form-control" id="brcurrancy2">
                  <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
                </select>
              </div>

              <div class="col">
                <label for="standard2">Standard Time BR</label>
                <input formControlName="standardTime2" type="text" class="form-control" placeholder="Std. Time BR"
                  id="standard2">
              </div>

              <div class="col">
                <label for="stcurrancy2">Currency</label>
                <select formControlName="standardTimeCurrancy2" class="form-control" id="stcurrancy2">
                  <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
                </select>
              </div>

              <div class="col">
                <label for="over2">Over Time BR</label>
                <input formControlName="overTime2" type="text" class="form-control" placeholder="Over Time BR"
                  id="over2">
              </div>

              <div class="col">
                <label for="otcurrancy2">Currency</label>
                <select formControlName="overTimeCurrancy2" class="form-control" id="otcurrancy2">
                  <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
                </select>
              </div>

            </div>

          </div>

        </ng-container>
      </div>
    </div>

    <div class="fourth w-100 p-3 my-1">

      <div class="d-flex justify-content-end align-items-center">
        <button class="btn btn_style_rs mx-3" (click)="onReset()"> Reset </button>
        <button class="btn btn_style_rs" (click)="submit()"> Save </button>
      </div>

    </div>

  </form>

</div>